.root {
	/**-fx-background-color: #BDA7AF; **/
	-fx-background-color: #A7BED3;
}

.submit-button {
	-fx-font-weight: bold;
}

.header {
	-fx-font-weight: bold;
	-fx-font-size: 28.0px;
}

.main-menu-header {
	-fx-font-weight: bold;
	-fx-font-size: 25.0px;
}

.members{
	-fx-font-size: 18.0px;
}

.table-view, .background-pane{
	-fx-background-color: #C6E2E9;
}

#scrollContainer{
	/** -fx-background: #AFD8D8; **/
	 -fx-background: #C6E2E9;
}

