.root {
	-fx-background-color: #BDA7AF;
}

.submit-button {
	-fx-font-weight: bold;
}

.header {
	-fx-font-weight: bold;
	-fx-font-size: 28.0px;
}

.main-menu-header {
	-fx-font-weight: bold;
	-fx-font-size: 25.0px;
}

.members{
	-fx-font-size: 18.0px;
}

.text-field-custom{
	-fx-background-color: #AFD8D8;
}

.table-view, .background-pane{
	-fx-background-color: #AFD8D8;
}

#scrollContainer{
	-fx-background: #AFD8D8;
}

